{# Color swatch partial - receives: item #}
{% set hex_color = item.hex %}
{% set count = item.count %}
<div class="palette-swatch">
    <a href="/color/{{ hex_color.lstrip('#') }}/400/300" target="_blank">
        <div class="palette-color-block" style="background: {{ hex_color }};"></div>
    </a>
    <div class="palette-color-info">
        <code class="palette-hex">{{ hex_color }}</code>
        <span class="palette-count">{{ count }} image{% if count > 1 %}s{% endif %}</span>
    </div>
    <div class="palette-samples">
        {% for sid in item.sample_ids[:2] %}
            <img src="/id/{{ sid }}/100/75" alt="" loading="lazy">
        {% endfor %}
    </div>
</div>
